:root {
  --main-color: #5991fb;
  --bg-color: #5b96fb;
  --container-width: 1100px;
}
*,
::before,
::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: Arial;
}
main {
  background: linear-gradient(45deg, #68d0ff, #453cf5);
  height: 100vh;
  padding: 65px 15px 0 15px;
  overflow: hidden;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  z-index: 99999;
  background-color: var(--main-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
header nav {
  width: var(--container-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}
header nav > * {
  flex: 1 auto;
}
header .site-logo {
  width: 35px;
  vertical-align: middle;
}
ul.site-nav {
  margin: 0;
  padding: 0;
}
ul.site-nav > li {
  float: left;
  list-style: none;
  margin-right: 15px;
  line-height: 65px;
  height: 100%;
}
ul.site-nav > li > a {
  display: inline-block;
  color: #fff;
  height: 100%;
}
ul.site-nav > li > a:hover {
  color: #ffffff70;
}
div.site-lang {
  text-align: right;
  height: 100%;
  line-height: 65px;
}
select {
  font-size: 20px;
  color: #fff;
  background-color: var(--bg-color);
  border-style: none;
  border-color: var(--bg-color);
}
.mobile-hidden {
  visibility: visible;
}
.mobile-show {
  display: none;
}
.section-soft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: var(--container-width);
  margin: 0 auto;
}
.section-soft > div {
  width: 50%;
}
.soft-info > h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.soft-info > hr {
  border: none;
  border: 1px solid #fff;
  width: 95%;
  margin-left: 0;
}
.soft-info > p {
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 100;
}
.soft-info button {
  background-color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 15px;
  color: var(--main-color);
  font-weight: 600;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.soft-info button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.soft-img img {
  width: 500px;
  padding: 15px;
}
.section-multilanguage {
  background-color: #fff;
  min-height: 300px;
  height: 480px;
  width: var(--container-width);
  padding: 65px auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-mltitle {
  text-align: center;
  color: #4f4f4f;
  font-weight: 100;
}
.section-arrow {
  color: var(--main-color);
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
.section-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section-image img {
  width: 150px;
}
.section-formats {
  height: 1000px;
  padding-top: 65px;
  background-image: url(https://ahmet.kz/themes/ahmetoffice/images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.section-formats > .mask {
  background: linear-gradient(
    40deg,
    rgba(116, 184, 255, 0.8),
    rgba(87, 79, 240, 0.8)
  );
  height: 100%;
  margin-top: -65px;
  padding-top: 30px;
}
.mask > div {
  width: var(--container-width);
  margin: 0 auto;
}
.section-formats h3 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 100;
}
.devide_by_two_part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.devide_by_two_part > div {
  width: 30%;
}
.devide_by_two_part > div {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "my_icon1 first"
    "my_icon2 second"
    "my_icon3 third";
}
.devide_by_two_part i {
  color: #fff;
  background-color: var(bg --bg-color);
  font-size: 50px;
  font-weight: 50;
}
.devide_by_two_part .my_icon1 {
  grid-area: my_icon1;
}
.devide_by_two_part .my_icon2 {
  grid-area: my_icon2;
}
.devide_by_two_part .my_icon3 {
  grid-area: my_icon3;
}
.devide_by_two_part .first {
  grid-area: first;
}
.devide_by_two_part .second {
  grid-area: second;
}
.devide_by_two_part .third {
  grid-area: third;
}
.devide_by_two_part .divtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.devide_by_two_part .divdes {
  color: #fff;
  font-size: 15px;
  font-weight: 5;
}

@media screen and (max-width: 600px) {
  main {
    height: inherit;
    min-height: 100vh;
  }
  header nav {
    width: 100%;
  }

  .section-soft {
    width: 100%;
  }
  .section-soft > div {
    width: 100%;
  }
  .soft-info {
    text-align: center;
  }
  .soft-img img {
    width: 400px;
    padding: 15px;
  }
  .soft-info > h1 {
    font-size: 24px;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
